body{
	background-color:#131010; 
	margin: 0; 
	padding: 0;
}

.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	margin: 5vh auto 3vh auto;
}

nav{
	background-color: #901414;
	border-radius: 10px;
}
	/* LEFT SIDE NAVIGATION BAR */
	#Vnav{
		height: 5vh;
		width: 25vw;
	}

	ul{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	li a, .dropbtn{
		display: inline-block;
		text-align: center;
		padding: 4px;
		text-decoration: none;
	}
	
	li.dropdown{display: inline-block;}
	
	.drop-content{
		display: none; 
		position: absolute; 
		background-color: #901414;
		padding-top: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		margin-top: -1vh;
	}
	
	.dropdown-content a {
		text-decoration: none;
		display: block;
		text-align: left;
	}
	
	.dropdown:hover .drop-content{display: block;}
	ul li a{font-size: 18px;}
	

	/* RIGHT SIDE NAVIGATION BAR */
	#Hnav{
		height: 5vh;
		width: 25vw;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
		.searchbar{
			background-color:#FFFAF2;
			border-radius: 10px;
			border: none;
			display: flex;
			justify-content: center;
			padding: 0.5%;
		}

		.searchbar input{
			font-family: "poppins"; 
			font-size: 16px;
			color:#131010; 
			background-color: transparent;
			border: none;
			outline: none;
			width: 13vw;
		}

		.searchbar i{
			border: none; 
			color:#131010;
			background-color: transparent;
			padding: 0;
			margin-right: 1%;
		}

		#member{font-size: 18px;}
		::placeholder{color:#1C1A1A;}


h1{
	color: #FFFAF2;
	font-family: "league spartan"; 
	font-weight: 500;
	font-size: 34px; 
}

h2{
	color: #FFFAF2;
	font-family: "league spartan";
	font-weight: 400;
	font-size: 28px;
	padding-top: 2vh;}

h3{
	color: #FFFAF2;
	font-family: "poppins";
	font-weight: 500;
	font-size: 20px;
	padding-top: 2vh;
}
h4{
	color: #FFFAF2;
	font-family: "poppins";
	font-weight: 500;
	font-size: 16px;
}

a{
	color: #FFFAF2;
	font-family: "poppins";
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

p{
	color: #FFFAF2;
	font-family: "poppins";
	font-weight: 400;
	font-size: 16px;
	margin: 0;
}

/* MAIN CONTAINER FOR THE ELEMENTS */
.main{
	width: 70vw;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* BOXES IN THE MAIN CONTAINER */
.box{
	background-color: #292626;
	border-radius: 15px;
	margin: 1vh 0vh;
	padding: 4vh 4vw;
}

.movies-now{
	display: grid; 
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
	grid-template-rows: auto;
	justify-content: space-between;
	margin-top: 5vh;
}

.movies-now img{
	height: 28vh; 
	width: 10vw; 
	object-fit: cover;
}

.show-more{
	display: flex; 
	justify-content: center;
}

.days{
	display: flex;
	justify-content: space-between;
}
.days button{margin: 0;}

button{
	background-color: #3B3838;
	border: none;
	padding: 1vh 2vw;
	font-family: "poppins";
	font-size: 16px; 
	color: #FFFAF2;
	border-radius: 10px;
	margin-top: 4vh;
}

.event-type{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.event-type img{
	height: 10vw; 
	width: 10vw; 
	object-fit: cover;
}

.coming-soon{	
	display: grid; 
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
	grid-template-rows: auto;
	justify-content: space-between;
}

.coming-soon img{
	height: 28vh; 
	width: 10vw; 
	object-fit: cover;
}

footer{
	background-color: #1C1A1A;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 70vw;
	margin: 1vh auto 0 auto;
}

.container{	
	display: grid;
	grid-template-columns: 12vw 10vw 7vw;
	justify-content: space-around;
}

/*---------------------------------------------------------------*/
/* ADDITIONAL CODE FOR THE ABOUT PAGE */

.display-img{
	width: 70vw; 
	margin-bottom: -4vh;
}

.display-img img{
	width: 70vw; 
	height: 20vw; 
	object-fit: cover;
	border-radius: 10px;
}

.content-container{
	display: flex; 
	justify-content: space-between;
}

section{
	width: 37vw; 
}

table{
	height: 4vh; width: 4vw;
	background-color:#3B3838;
	font-family: "poppins"; 
	font-weight: 400;
	font-size: 16px; 
	color: #FFFAF2;
	padding: 1vw;
	border-radius: 10px;
}

td{padding: 1vh 1vw;}
#svar{text-align: right;}

/*---------------------------------------------------------------*/
/* ADDITIONAL CODE FOR THE PROGRAM PAGE */

.rubriker{	display: grid;
	grid-template-columns: 8vw 28vw 25vw;
	justify-content: space-between;
}

.daily-program{
	display: grid;
	grid-template-columns: 8vw 7vw 21vw 8vw 17vw;
	grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh;
	row-gap: 3vh;
	justify-content: space-between;
}

.daily-program img{height: 20vh; width: 7vw;}

/*---------------------------------------------------------------*/
/* ADDITIONAL CODE FOR THE AVAILABLITY PAGE */

li{
	font-family: "poppins";
	font-size: 16px;
	font-weight: 400;
	color: #FFFAF2;
	padding: 1%;
}

.available{width: 20vw;}
.available td{padding: 1vh 0;}

/*---------------------------------------------------------------*/
/* MOBILE VERSION */
@media only screen and (max-width: 600px){
	.banner{
		width: 100vw; 
		justify-content: center;
	}

	.main{width: 100vw;}
	footer{width: 100vw;}
}
