body{
	background-color:#131010; 
	margin: 0; 
	padding: 0;
}

.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	margin: 5vh auto 3vh auto;
}

nav{
	background-color: #901414;
	border-radius: 10px;
}
	/* LEFT SIDE NAVIGATION BAR */
	#Vnav{
		height: 5vh;
		width: 25vw;
	}

	ul{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	li{float: left;}
	
	li a, .dropbtn{
		display: inline-block;
		text-align: center;
		padding: 1vh;
		text-decoration: none;
	}
	
	li.dropdown{display: inline-block;}
	
	.drop-content{
		display: none; 
		position: absolute; 
		background-color: #901414;
		padding-top: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	.dropdown-content a {
		text-decoration: none;
		display: block;
		text-align: left;
	}
	
	.dropdown:hover .drop-content{display: block;}
	ul li a{font-size: 18px;}
	

	/* RIGHT SIDE NAVIGATION BAR */
	#Hnav{
		height: 5vh;
		width: 25vw;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
		.searchbar{
			background-color:#FFFAF2;
			border-radius: 10px;
			border: none;
			display: flex;
			justify-content: center;
			padding: 0.5%;
		}

		.searchbar input{
			font-family: "poppins"; 
			font-size: 16px;
			color:#131010; 
			background-color: transparent;
			border: none;
			outline: none;
			width: 13vw;
		}

		.searchbar i{
			border: none; 
			color:#131010;
			background-color: transparent;
			padding: 0;
			margin-right: 1%;
		}

		#member{font-size: 18px;}
		::placeholder{color:#1C1A1A;}


h1{
	color: #FFFAF2;
	font-family: "league spartan"; 
	font-size: 32px; 
	padding: 1vh 2vw;
	margin-left: 3vh;
}

h3{color: #FFFAF2;
	font-family: "poppins";
	font-weight: 500;
	font-size: 20px;
	padding-top: 2vh;
}

a{
	color: #FFFAF2;
	font-family: "poppins";
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

p{
	color: #FFFAF2;
	font-family: "poppins";
	font-weight: 400;
	font-size: 16px;
}

/* MAIN CONTAINER FOR THE ELEMENTS */
.main{
	width: 70vw;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* BOXES IN THE MAIN CONTAINER */
.box{
	background-color: #292626;
	border-radius: 15px;
	margin: 1vh 0vh;
}

.movies-now{
	display: grid; 
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
	grid-template-rows: auto;
	justify-content: space-around;
	margin: 5vh 2vw;
}

.movies-now img{
	height: 26vh; 
	width: 10vw; 
	object-fit: cover;
}

.show-more{
	display: flex; 
	justify-content: center;
	margin-top: -1vh;
}

.days{
	display: flex;
	justify-content: space-around;
	margin: 0 1vw;
}

button{
	background-color: #3B3838;
	border: none;
	padding: 1vh 1vw;
	font-family: "poppins";
	font-size: 16px; 
	color: #FFFAF2;
	border-radius: 10px;
	margin: 0 0 4vh 0;
}

.event-type{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 4vh;
}

.event-type img{
	height: 10vw; 
	width: 10vw; 
	object-fit: cover;
}

.coming-soon{	
	display: grid; 
	grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
	grid-template-rows: auto;
	justify-content: space-around;
	margin: 5vh 2vw;
}

.coming-soon img{
	height: 26vh; 
	width: 10vw; 
	object-fit: cover;
}

footer{
	background-color: #1C1A1A;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 70vw;
	margin: 1vh auto 0 auto;
}

.container{	
	display: grid;
	grid-template-columns: 12vw 10vw 7vw;
	justify-content: space-around;}

/* MOBILE VERSION */
@media only screen and (max-width: 600px){

footer{grid-column: 1/4;}

.banner{grid-column: 1/4; margin: 0px 4vw;}

.main{grid-column: 1/4;}

.box{border-radius: 0;}

.logo{grid-column: 1/2; scale: 80%;}

}

}